/* 各頁面的頂部 */
#page-header{
    background-color: rgba(0, 0, 0, 0);
}
/* 各頁面的底部 */
#footer{
    background-color: rgba(0, 0, 0, 0.1);
}

/* 各個卡片 */
.cardHover, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    background: rgba(255,255,255,0.8);
}
/* 網站背景 */
#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url("/myImg/bg.png");
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
  }